<body>
  <div class="container">

    <h1>EDIT</h1>

    <div class="card">
    <%= form_for(@task) do |f| %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :title %></p>
      <p><%= f.label :details %></p>
      <p><%= f.text_field :details %></p>
      <p>Completed: <%= f.check_box :completed %></p>
     </div>
      <div class="cardbottom">
      <p><%= f.submit :class => "button" %></p>

    <% end %>
      </div>

    <div class="cardbottom">
    <p><%=link_to "Back to index", tasks_path %></p>
    </div>
  </div>
</body>
